/* You can add global styles to this file, and also import other style files */
@use '@sbb-esta/angular' as sbb;

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.split-button-panel {
    background-color: blue;
}
